@using InventoryManagement.Entities.ViewModels


<link rel="stylesheet" href="~/DataTable/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/DataTable/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/css/Inventory.css" />
@model AccountReceivableViewModel


<div id="VendorTab mt-1 mp-1">
    <div class="d-flex align-items-center justify-content-between flex-row mb-2">
        <h3 class="border-bottom border-4 border-dark">CustomerOrder</h3>
        @if (Model.salesOrderDetails.Count() > 0)
        {
            <div>
                @*CustomerName:*@ <h6 class="border-bottom border-2 border-dark">@Model.salesOrderDetails.FirstOrDefault().FirstName  @Model.salesOrderDetails.FirstOrDefault().LastName</h6>
            </div>
        }

        <a class="bg__colour rounded-pill text-decoration-none border-0 p-1 px-2 me-2" asp-action="SalesInvoicePage" asp-controller="SalesInvoice" style="background-color: #98EECC;">
            <span class="me-2"><i class="bi bi-plus-circle"></i></span>Add
        </a>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table border DataTablesId" id="" style="width:100%">
            <thead style="background-color: #f9f9f9;">
                <tr>
                    <th scope="col">DocumentNumber</th>
                    <th scope="col">ItemId</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Discount</th>
                    <th scope="col">InvoiceTotal</th>
                    @* <th scope="col">Action</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.salesOrderDetails)
                    {
                        <tr>
                            <td scope="col">@item.DocumentNumber</td>
                            <td scope="col">@item.ItemId</td>
                            <td scope="col">@item.Quantity</td>
                            <td scope="col">@item.Amount</td>
                            <td scope="col">@item.Discount</td>
                            <td scope="col">@item.InvoiceTotal</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/DataTable/js/jquery.dataTables.min.js"></script>
<script src="~/DataTable/js/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function(){
      $('.DataTablesId').DataTable({
        info:true,
        lengthChange: false,
        searching:false,
        dom: '<"float-start"f><"#DataTablesId"t>i<"#paginatorId"lp>',
        responsive: true,
        pageLength:10,
        language: {
            searchPlaceholder: "Search Records"
        },
        "bStateSave": true,
        "fnStateSave": function (oSettings, oData) {
            localStorage.setItem('offersDataTables', JSON.stringify(oData));
        },
        "fnStateLoad": function (oSettings) {
            return JSON.parse(localStorage.getItem('offersDataTables'));
        }

      });
    });
</script>