@using InventoryManagement.Entities.Model
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IncomeViewModel





    @foreach (var item in @Model.Categories)
    {


        <tr value="@item.CategoryId" id="CategoryRow_@item.CategoryId" onclick="selectCategory()">
            <td value="@item.CategoryId">
                @item.CategoryName
            </td>
            <td value="@item.CategoryId">
                @item.Description
            </td>

        </tr>


    }

