@using InventoryManagement.Entities.Model

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IncomeViewModel

@{


     var collection = @Model.InventoryItems;
    var totalCount = @Model.InventoryItems.Count();
    for (int item = 0; item <= (@collection.Count() - 1); item++)
      {
        <tr value="@collection.ElementAt(item).ItemId" id="InventoryRow_@collection.ElementAt(item).ItemId" onclick="selectInventoryItem()">
            <td value="@collection.ElementAt(item).ItemId">
                @collection.ElementAt(item).ItemName
            </td>
            <td value="@collection.ElementAt(item).ItemId">
                @collection.ElementAt(item).Description
            </td>
            <td value="@collection.ElementAt(item).ItemId">
                @collection.ElementAt(item).CategoryName
            </td>

        </tr>

    }
}


   
  
