@using InventoryManagement.Entities.Model

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IncomeViewModel


<tbody>

    @foreach (var item in @Model.InventoryItems)
    {
        <tr value="@item.ItemId" id="InventoryRow_@item.ItemId" onclick="selectInventoryItem()">
            <td value="@item.ItemId">
                @item.ItemName
            </td>
            <td value="@item.ItemId">
                @item.Description
            </td>
            <td value="@item.ItemId">
                @item.CategoryName
            </td>

        </tr>

    }

</tbody>