@using InventoryManagement.Entities.Model

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IncomeViewModel


<div>
    <table class="table mt-3  table-hover">

        <thead>
            <tr class="">
                <td>
                    ItemName
                </td>
                <td>
                    ItemDescription
                </td>
                <td>
                    ItemCategory
                </td>

            </tr>


        </thead>
        <tbody id="InventoryItemModelView">
            @{
                @if (@Model.InventoryItems.Count() > 0)
                {
                    var collection = @Model.InventoryItems.Take(3);
                    var totalCount = @Model.InventoryItems.Count();
                    for (int item = 0; item <= (@collection.Count() - 1); item++)
                    {
                        <tr value="@collection.ElementAt(item).ItemId" id="InventoryRow_@collection.ElementAt(item).ItemId" class="" onclick="selectInventoryItem()">
                            <td value="@collection.ElementAt(item).ItemId">
                                @collection.ElementAt(item).ItemName
                            </td>
                            <td value="@collection.ElementAt(item).ItemId">
                                @collection.ElementAt(item).Description
                            </td>
                            <td value="@collection.ElementAt(item).ItemId">
                                @collection.ElementAt(item).CategoryName
                            </td>

                        </tr>

                    }

                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center text-danger"> No Data Found !!</td>
                    </tr>

                }

            }
        </tbody>
    </table>
</div>


<div>
    <partial name="_PaginationItems" model="@Model" />
</div>



