@using InventoryManagement.Entities.Model

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IncomeViewModel


@*@foreach (var item in @Model.InventoryItemsPricies)
{

    <tr value="@item.PriceId" id="InventoryItemPriceRow_@item.PriceId" onclick="selectInventoryItemPrice()">
        <td value="@item.PriceId">
            @item.ItemName
        </td>

        <td value="@item.PriceId">
            @item.Price
        </td>

    </tr>

}*@
@{
    var collection = @Model.InventoryItemsPricies;
    var totalCount = @Model.InventoryItemsPricies.Count();
    for (int item = 0; item <= (@collection.Count() - 1); item++)
    {
        <tr value="@collection.ElementAt(item).PriceId" id="InventoryItemPriceRow_@collection.ElementAt(item).PriceId" onclick="selectInventoryItemPrice()">
            <td value="@collection.ElementAt(item).PriceId">
                @collection.ElementAt(item).ItemName
            </td>
            <td value="@collection.ElementAt(item).PriceId">
                @collection.ElementAt(item).Price
            </td>

        </tr>


    }
}