@using InventoryManagement.Entities.Model

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_INVManagementLayout.cshtml";
}
@model IncomeViewModel

@* MISSION SKILLS PAGE*@

<div>
   
    <div class="d-flex align-items-center justify-content-between flex-row mb-2">
        <h3 class="border-bottom border-3 bg__colour">Invetory Management</h3>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-start gap-3 ">
        <div class="d-flex flex-column align-items-center justify-content-start p-4 rounded-3 border rounded bg__colour" id="categoryTab" onclick="OpenCategoryList()" value="Category" @*data-bs-toggle="modal" data-bs-target="#CategoryModal"*@>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-journal-bookmark" viewBox="0 0 16 16" style="pointer-event: none;">
                <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z" />
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
            </svg>
            <span style="pointer-event: none;">
                Categories
            </span>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-start p-4 rounded-3 border rounded bg__colour" id="inventoryTab" onclick="OpenItemsList()" value="Items" @*data-bs-toggle="modal" data-bs-target="#ItemsModal"*@>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list-stars" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
                <path d="M2.242 2.194a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.256-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53z" />
            </svg>
            <span>
                Item List
            </span>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-start p-4 rounded-3 border rounded bg__colour" onclick="OpenPricesList()" @* data-bs-toggle="modal" data-bs-target="#InventoryItemsPricingModal"*@>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
            </svg>


            <span>
                Items Price
            </span>
        </div>


    </div>



</div>


<!------------------------------------           Category Modal      -------------------------------------->
@*<div id="CategoryModelView">

    <partial name="_CategoryModal" model="@Model"/>
    </div>*@


<div class="modal fade" id="CategoryModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Categories</h5>
                <button type="button" id="closeCategoryButton" class="btn-close closeCategoryButton" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @*Add , delete , update and search *@

                <div class="d-flex flex-row gap-1 align-items-center">
                    <div class="rounded-3 border rounded bg__colour p-1" id="addButton" value="AddCategory" onclick="OpenAddModal()" data-bs-target="#CategoryAddModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        <span>Add</span>
                    </div>
                    <div class="rounded-3 border rounded bg__colour p-1 " onclick="FillDataOnEditCategory()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                        <span>Edit</span>
                    </div>
                    <div class="rounded-3 border rounded bg-danger p-1" onclick="DeleteCategory()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                        <span>Delete</span>
                    </div>
                    <div>
                        <input type="text" class="border rounded " id="searchInput" />
                        <button onclick="SearchCategory()" class="rounded-3 border rounded bg__colour p-1">Search</button>
                    </div>
                </div>

                @* Category Table*@

                @*<table class="table mt-3">

                    <thead>
                    <tr>
                    <td>
                    NAME
                    </td>
                    <td>

                    CATEGORY
                    </td>

                    </tr>


                    </thead>

                    <tbody id="CategoryModelView">

                    <partial name="_CategoryModal" model="@Model" />
                    </tbody>
                    </table>*@
                @{
                    var total = @Model.Categories.Count();
                }
                <div id="CategoryModelView">
                    <partial name="_CategoryModal" model="@Model" />
                </div>


                @*  Category Pagination *@

                @*<div>
                    <partial name="_PaginationCategory" model="@Model" />
                    </div>*@



            </div>

        </div>
    </div>
</div>

@* Add or update Category Model*@

<div class="modal fade" id="CategoryAddModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2"><span class="AddModalTitle">Add</span> <span class="hide UpdateModalTitle me-1"> Update</span> Category</h5>
                    <button type="button" class="btn-close  " id="CloseCategoryAddModal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="@Model.Category.CategoryId" type="number" id="CategoryId" hidden />
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Category.CategoryName" type="text" class="form-control" id="CategoryName">
                        <label for="floatingInput">Category</label>
                        <span asp-validation-for="@Model.Category.CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <textarea asp-for="@Model.Category.Description" class="form-control" id="CategoryDescription"></textarea>
                        <span asp-validation-for="@Model.Category.Description" class="text-danger"></span>
                        <label for="floatingTextarea">Description</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn bg__colour" onclick="AddOrUpdateCategory()" type="submit">submit</button>
                </div>
            
        </div>
    </div>
</div>




<!-----------------------------         inventory items model  ---------------------------------------------->
@*<div id="InventoryItemModelView">
    <partial name="_InventoryItemsModal" model="@Model" />
    </div>*@

<div class="modal fade" id="ItemsModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel"> Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @*Add , delete , update and search *@
                <div class="d-flex flex-row gap-1 align-items-center">
                    <div class="border rounded bg__colour p-1" id="addButton" value="AddItems" onclick="OpenAddModal()" data-bs-target="#InventoryAddModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        <span>Add</span>
                    </div>
                    <div class="border rounded bg__colour p-1 " onclick="FillDataOnEditItem()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                        <span>Edit</span>
                    </div>
                    <div class="border rounded bg-danger p-1 " onclick="DeleteItemPrice()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                        <span>Delete</span>
                    </div>
                    <div>
                        <input type="text" id="searchItemInput" />
                        <button onclick="SearchItem()" class="border rounded bg__colour p-1">Search</button>
                    </div>
                </div>

                @*   InventoryItems Table*@

                <div id="InventoryItemModelView">
                    <partial name="_InventoryItemsModal" model="@Model" />
                </div>


            </div>

        </div>
    </div>
</div>

@*Add or Update InventoryItem Modal*@

<div class="modal fade" id="InventoryAddModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
           
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2"><span class="AddModalTitle">Add</span> <span class="hide UpdateModalTitle me-1"> Update</span> Items</h5>
                    <button type="button" class="btn-close" id="CloseItemAddModal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="@Model.InventoryItem.ItemId" type="text" id="itemId" hidden />
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.InventoryItem.ItemName" type="text" class="form-control" id="itemName">
                        <label for="floatingInput">Name</label>
                        <span asp-validation-for="@Model.InventoryItem.ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <textarea asp-for="@Model.InventoryItem.Description" class="form-control" id="itemDescription"></textarea>
                        <span asp-validation-for="@Model.InventoryItem.Description" class="text-danger"></span>
                        <label for="floatingTextarea">Description</label>
                    </div>
                    <select class="form-select form-select-sm mt-3" asp-for="@Model.InventoryItem.CategoryId" id="ItemCategory" aria-label=".form-select-sm example">
                        <option>Open this select menu</option>
                        @foreach (var item in @Model.Categories)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select>
                    <select asp-for="@Model.InventoryItem.IsActive" class="form-select form-select-sm mt-3" id="ItemActive" aria-label=".form-select-sm example">

                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>


                </div>
                <div class="modal-footer">
                    <button class="btn bg__colour submitButton" onclick="AddOrUpdateItem()" type="submit">submit</button>
                </div>
            
        </div>
    </div>
</div>



<!---------------------------------------        pricing model      ------------------------------------->
@*<div id="PricingItemModelView">
    <partial name="_PricingItemsModal" model="@Model" />
    </div>*@


<div class="modal fade" id="InventoryItemsPricingModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Price</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @*Add , delete , update and search *@

                <div class="d-flex flex-row gap-1 align-items-center">
                    <div class="border rounded bg__colour p-1" id="addButton" value="AddPrices" onclick="OpenAddModal()" data-bs-target="#InventoryItemsPricingAddModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        <span>Add</span>
                    </div>
                    <div class=" border rounded bg__colour p-1" onclick="FillDataOnEditPrice()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                        <span>Edit</span>
                    </div>
                    <div class=" border rounded bg-danger p-1" onclick="DeleteItemPrice()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                        <span>Delete</span>
                    </div>
                    <div>
                        <input type="text" id="searchInputPrice" />
                        <button onclick="SearchPrice()" class="border rounded bg__colour p-1">Search</button>
                    </div>
                </div>

                @* ItemPrices Table*@

                <div id="PricingItemModelView">
                    <partial name="_PricingItemsModal" model="@Model" />
                </div>



            </div>

        </div>
    </div>
</div>

@*Add or Update InventoryPrice Modal*@

<div class="modal fade" id="InventoryItemsPricingAddModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2"><span class="AddModalTitle">Add</span> <span class="hide UpdateModalTitle me-1"> Update</span>Price</h5>
                    <button type="button" class="btn-close" id="ClosePriceAddModal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="@Model.InventoryItemPrice.PriceId" type="text" id="PriceId" hidden />



                    <select class="form-select form-select-sm mt-3" asp-for="@Model.InventoryItemPrice.ItemId" id="ItemIdOfInventoryPrice" onchange="GetPriceOfSelectedItem()" aria-label=".form-select-sm example">
                        <option>Open this select menu</option>
                        @foreach (var item in @Model.InventoryItems)
                        {
                            <option value="@item.ItemId">@item.ItemName</option>
                        }
                    </select>


                    <div class="form-floating mt-3">
                        <input asp-for="@Model.InventoryItemPrice.Price" type="text" class="form-control" id="ItemPrice">
                        <label for="floatingInput">Price</label>
                        <span asp-validation-for="@Model.InventoryItemPrice.Price" class="text-danger"></span>
                    </div>



                </div>
                <div class="modal-footer">
                    <button class="btn bg__colour" type="submit">submit</button>
                </div>
            
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/js/income.js"></script>

<script>
    $(document).ready(function() {
        var activeTabId = $("#AllAdminTabsList").find("a.active").attr('id');
        $('#' + activeTabId).removeClass("active");
        $('#IncomeTab').addClass("active");
    });
</script>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }